<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/output.css">
    <title>Update Vehicle Details</title>
</head>

<body class="bg-gray-900">
    <%- include('sidebar') %>
        <div class="w-full h-full flex items-center justify-center max-xl:justify-end relative">
            <div
                class="w-full mt-5 ml-48 flex items-center justify-center px-5 py-6 gap-2 overflow-hidden flex-col relative">
                <h1 class="text-center text-slate-50 text-3xl font-noto font-normal my-5 ml-3 underline">Select the
                    vehicle which you want to update
                </h1>
                <div class="w-full flex items-center justify-start flex-wrap gap-3 mt-10">
                    <% if(status==true) {%>
                        <% vehicleData.forEach((data)=>{ %>
                            <div
                                class="border border-gray-700 p-3 rounded-lg transform transition duration-500 w-[400px]">
                                <div
                                    class="bg-gradient-to-tl from-slate-950 to-gray-900 shadow-2xl relative rounded-lg p-7 w-full">
                                    <h4 class="font-noto font-normal text-base text-gray-50 capitalize text-left">
                                        Vehicle Reg no
                                        : <%= data.vehicleNo %>
                                    </h4>
                                    <h4 class="font-noto font-normal text-base text-gray-50 capitalize text-left">
                                        Owner Name :
                                        <%= data.ownerName %>
                                    </h4>
                                    <h4 class="font-noto font-normal text-base text-gray-50 capitalize text-left">
                                        Chassis Number
                                        : <%= data.chasisNo %>
                                    </h4>

                                    <button type="button" id="<%= data._id  %>" data-modal-toggle="updateModal"
                                        class="px-3 py-1 bg-transparent outline-none border border-red-700 text-red-500 font-noto rounded-sm mt-3 text-xl font-normal hover:bg-red-700 hover:text-white transition-all ease-in-out duration-150 max-[990px]:text-base updateBtn">Update
                                        Details</button>
                                </div>
                            </div>
                            <% }) %>
                                <% }else { %>
                                    <h3 class="text-center text-slate-50 text-xl font-noto font-normal">No
                                        Vehicle Added</h3>
                                    <% } %>
                </div>

            </div>

            <div id="updateModal"
                class="hidden fixed inset-0 bg-gray-500 bg-opacity-50 overflow-y-auto h-screen w-screen px-4 md:px-8">
                <div
                    class="relative z-10 rounded-lg shadow-lg mx-auto w-full md:w-1/2 mt-4 transition-all duration-150 ease-in-out">
                    <div class="modal-content bg-slate-950 p-7 rounded-md">
                        <h5
                            class="text-xl font-medium mb-4 text-white font-noto text-left border-b border-slate-500 pb-2">
                            Update Vehicles Details</h5>
                        <p class="text-slate-300 font-noto text-base font-normal text-left mb-6">Update your vehicles
                            details whenever your vehicle's details got expired.</p>
                        <form class="flex flex-col items-center justify-center" id="updateForm">
                            <div
                                class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                                <div class="mb-5">
                                    <label for="pollution Certificate"
                                        class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">Pollution
                                        Certificate Valid Upto</label>
                                    <input type="date" id="pollutionUpto" name="pollutionUpto"
                                        class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"/>
                                </div>
                                <div class="mb-5">
                                    <label for="registration"
                                        class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                        Registration Upto</label>
                                    <input type="date" id="registrationUpto" name="registrationUpto"
                                        class="outline-none h-12 rounded-md bg-slate-950 w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"/>
                                </div>
                            </div>
                            <div
                                class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                                <div class="mb-5">
                                    <label for="tax"
                                        class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                        Tax Paid Upto</label>
                                    <input type="date" id="taxpaidUpto" name="taxpaidUpto"
                                        class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"/>
                                </div>
                                <div class="mb-5">
                                    <label for="insurance"
                                        class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                        Insurance Paid Upto</label>
                                    <input type="date" id="insurancepaidUpto" name="insurancepaidUpto"
                                        class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"/>
                                </div>
                            </div>
                            <div
                                class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                                <div class="mb-5">
                                    <label for="fitness Certificate"
                                        class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">Vehicle Fit Upto</label>
                                    <input type="date" id="fitUpto" name="fitUpto"
                                        class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"
                                        required />
                                </div>
                                <div class="mb-5">
                                    <label for="permit valid upto"
                                        class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">Permit Valid Upto</label>
                                    <input type="date" id="permitUpto" name="permitUpto"
                                        class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"
                                        required />
                                </div>
                                <div class="mb-5">
                                    <input type="hidden" id="vehicleId" name="vehicleId" />
                                </div>
                            </div>

                            <button type="submit"
                                class="px-6 py-3 outline-none bg-yellow-400 text-black font-poppins mt-5 rounded-lg text-xl font-normal hover:bg-yellow-600 transition-all ease-in-out duration-150 max-[990px]:text-base">Update
                                Details</button>
                        </form>
                        <div class="flex justify-end items-center space-x-4">
                            <button data-modal-toggle="updateModal" id="closeModal" type="button"
                                class="inline-flex items-center px-4 py-2 bg-red-600 hover:bg-red-700 rounded-sm font-medium text-base font-noto text-white">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="../javascripts/updateVehicle.js"></script>
</body>

</html>